html{
	background-image: linear-gradient(to bottom, #FAF185, #FFBB00, #FB753D, #CD7AD3);
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed; /*achtergrond voor de hele pagina, ook met scroll*/
	font-family: verdana;
}
.logo-img{
	display: flex;
	justify-content: center;
}
#logotop, #logobottom{
	height: 25px;
	width: 200px;
}
#logotop{
	display: none;
}
#logobottom{
	align-self: flex-end;
}
/*background cloud animation*/
#cloud2, #cloud3, #cloud2-1, #cloud2-2, #cloud3-1, #cloud3-2{
	display: none;
}
section{
	z-index: -10;
}
main, footer{
	z-index: 10;
}
.cloud-item{
	position: fixed;
	top: 5%;
	left: -200px;
	height: auto;
	width: 500px;
	animation: cloudAnimation 20s linear infinite;
}
.cloud{
	width: 30%;
	height: 30%;
}
@keyframes cloudAnimation{
	0%{
		left: -200px;
	}
	100%{
		left: 100%;
	}
}
#cloud1, #cloud2, #cloud3{
	max-width: 70%;
	max-height: 70%; 
}
#cloud1-1, #cloud2-1, #cloud3-1{
	animation-delay: 7s;
	top: 30%;
}
#cloud1-2, #cloud2-2, #cloud3-2{
	animation-delay: 18s;
	animation-duration: 15s;
	top: 20%;
	max-width: 90%;
	max-height: 80%;
}
/*Einde background cloud animation*/
/*Display klok*/
#clock{
	display: flex;
	justify-content: center;
	font-size: 60px;
	color: #FFFFFF;
	font-family: segoe ui regular, sans-serif;
}

/*Timezone dropdown list*/
.timezones{
	background-color: white;
	border: solid black 1px;
	cursor: cell;
	padding: 5px;
}
.selectTimezone{
	display: flex;
	justify-content: center;
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 8pt;
}